<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.inputs "Edit your account" do %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password, hint: "Leave blank if you do not want to change"%>
    <%= f.input :password_confirmation %>
    <% end %>
  <%= f.inputs "Password" do%>
    <%= f.input :current_password %>
    <% end %>
  <%= f.actions do %>
  <%= f.action :submit, button_html: {class: 'btn btn-primary'} %>
    <%end%>
    
<% end %>