<div class="row-fluid">
<div class="span8">
  <% if can? :create, Experiment %>
<%= link_to 'New Experiment', new_experiment_path, class: 'btn btn-info pull-right' %>
<%end%>
<h2>Experiments:</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Samples</th>
    <th></th>
    <th></th>
  </tr>

<% @experiments.each do |experiment| %>
  <tr>
    <td><%= experiment.name %></td>
    <td><%= best_in_place experiment, :description, type: :text_area %></td>
    <td><ul><% experiment.samples.each do |s| %>
        <li><%=link_to s.name, sample_path(s) %></li>
        <%end%></ul>
    <td><% if can? :update, experiment %><%= link_to 'Edit', edit_experiment_path(experiment) %> <% end %></td>
    <td><% if can? :destroy, Sample %><%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %><%end%></td>
  </tr>
<% end %>
</table>
</div>
<div class="span4">
  <%= semantic_search_form_for @search do |f| %>
    <%= f.inputs "Filter experiments" do %>
      <%= f.input :name_cont, label: "Name:" %>
      <%= f.input :samples_name_eq_any, label: "Samples:", as: :check_boxes, collection: Sample.all.map(&:name) %>
    <%end%>
  <%= f.actions do %>
  <%= f.action :submit %>
  <%end%>
<% end %>
</div>
</div>



